.td-table {
  tr {
    th {
      background-color: #187907 !important;
      color: #FFF;
    }
  }
}
.pagination {
  display: block !important;
  text-align: center;
}

.td-manage-users-button form{
  width: 100%;
}
